body{
    background: rgba(255, 255, 255, 0.2);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: indigo;
    text-align: center;    
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer{
    margin: 5px;
    display: flex;
    outline: black solid 1px;
    border:blue solid 1px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}
.footer > li{
    list-style: none;
}